*{
    margin: 0%;
    padding: 0%;
}
body{

    height: 90vh;
    width: 100%;
    font-family: monospace;
    background:url(s.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#main{
    height: 90vh;
    width: 100%;

}
 
#nav{
    display: flex;
    height: 10vh;
    width: 100%;
    background: transparent;
    justify-content:space-between;
    align-items: center; 
    backdrop-filter: blur(30px);
    position:relative;
    transition: 0.5s;
}
#nav:hover{
    background-color: rgba(23, 23, 23, 0.857);
}
.logo{
    font-size:40px;
    font-weight: 700;
    margin-left: 50px;
    color: rgb(242, 242, 242);
    transition: 0.4s;
    cursor: pointer;
}
.logo:hover{
    letter-spacing: 5px;
    color: rgb(73, 255, 194);
    text-shadow: 0 0 10px rgb(26, 255, 26),
    0 0 20px rgb(26, 255, 26),
    0 0 30px rgb(26, 255, 26);
}
.list {
    display: flex;
    align-items: center;
    gap: 150px;
    margin-right: 40px; 
    justify-content: space-between;
}

.list ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    margin: 5px;
    
}

.list ul a {
    color: rgb(12, 12, 12);
    margin: 5px;
    font-size: 18px;
    font-weight: bolder ;
    color: azure;
    transition: 0.4s;
    text-decoration: none;
    

}
.list ul  :hover{
    color:rgb(0, 234, 255);
    letter-spacing: 2px;
    
}
.list button{
    height: 45px;
    width: 125px;
    border: none;
    box-shadow: 0px 0px 5px rgb(33, 255, 92);
    border-radius: 5px;
    background-color: rgb(170, 253, 226);
    letter-spacing: 1.5px;
    transition: 0.4s;
    font-weight: 900;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list button:hover{
    background-color:rgb(35, 115, 1) ;
    border: 2px solid rgb(133, 255, 81);
    cursor: pointer;
    font-weight:10px;
    color: azure;
    letter-spacing: 3.5px;
    box-shadow:  0 0 10px rgb(33, 255, 92), 0 0 30px rgb(33, 255, 92);
}

#box1{
    height: 92%;
    width: 100%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    
}
.mainbox{
    height: 50%;
    width: 18%;
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(3px);
    border: 2px solid snow;
    transition: 0.5s;
}
.mainbox:hover{
    border-style:groove;
    border: 3px solid rgb(158, 158, 158);
    box-shadow: 0 0 10px rgb(161, 228, 255),
    0 0 20px rgb(161, 228, 255),0 0 50px rgb(161, 228, 255),
    0 0 60px rgb(161, 228, 255);
    backdrop-filter: blur(15px);
    background-color: rgb(91, 91, 91);
    cursor: pointer;

}
.mainbox h1{
    text-align: center;
    color: rgb(236, 246, 255);
    letter-spacing: 5px;
    margin-bottom: 30px;
    color: (64, 211, 1);
    text-shadow: 0 0 10px rgb(64, 211, 1);
    font-weight:bolder;
    font-size: 35px;
}

.mainbox .inputbox{

   margin-bottom: 20px;
   height: 40px;
   width: 97%;
   position: relative;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(64, 211, 1);
    border-radius: 30px;
    font-size: 15px;
    padding: 1px 2px 0px 8px;
    box-shadow: 0 0 10px rgb(64, 211, 1);
}
.inputbox input::placeholder{
    color: rgb(246, 246, 246);
}
.inputbox i{
    position: absolute; 
    right: 20px;
    top: 30%;
    transform: translate(30%);
    color: rgb(227, 227, 227);
    font-size: 18px;
}

.mainbox .remember{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    font-size: 17px;
    color: rgb(236, 255, 202);
    font-weight: bolder;
}
.remember a{
    color: rgb(236, 255, 202);
    text-decoration: none;
    font-weight: bolder;
}
.remember a:hover{
    text-decoration: underline;
}
.mainbox .register{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainbox .register p{


    color: antiquewhite;
    font-size: 15px;
}
.but{
display: grid;
place-content: center;
}
.mainbox .but button{
    margin-top: 15px;
    height: 38px;
    width: 110px;
    border: none;
    box-shadow: 0px 0px 5px rgb(33, 255, 92);
    border-radius: 5px;
    background-color: rgb(170, 253, 226);
    transition: 0.4s;
    font-size: 13px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainbox .but button:hover{
    background-color:rgb(35, 115, 1) ;
    border: 2px solid rgb(133, 255, 81);
    cursor: pointer;
    font-weight:10px;
    color: azure;
    letter-spacing: 2.5px;
    box-shadow:  0 0 10px rgb(33, 255, 92), 0 0 30px rgb(33, 255, 92);
}
#box2{
    text-align: center;
    color:rgb(248, 255, 120);
    font-size: small;
}
